---
import { getImage } from "astro:assets";
import { SITE } from "@data/constants";
import favicon from "@images/logo.svg";


const {
  title = SITE.title,
  description = SITE.description,
  author = SITE.author,
  ogImage,
  canonicalURL
} = Astro.props;

const socialImage = ogImage ? await getImage({
  src: ogImage,
  width: 1200,
  height: 630,
  format: "png",
}) : null;

const faviconSvg = await getImage({ src: favicon, format: 'svg' });
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href={faviconSvg.src} />

<title>{title}</title>

<meta name="description" content={description} />
<meta name="author" content={author} />
<link rel="canonical" href={canonicalURL || Astro.url.href} />

<!-- Social Media Tags -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
{socialImage && <meta property="og:image" content={socialImage.src} />}


<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{socialImage && <meta name="twitter:image" content={socialImage.src} />}

<!-- Web App Manifest -->
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="#ffffff" />
