---
// Destructure the properties from Astro.props
const { title, url } = Astro.props;
// Define TypeScript interface for the properties
interface Props {
  title?: string;
  url?: string;
}
// Define CSS classes for styling the button
const baseClasses =
  "group inline-flex items-center justify-center gap-x-2 rounded-lg px-4 py-3 text-sm font-bold text-white ring-zinc-500 transition duration-300 focus-visible:ring-3 outline-hidden";
const borderClasses = "border border-transparent";
const bgColorClasses =
  "bg-brandGreen hover:bg-opacity-90 active:bg-opacity-80";
const disableClasses = "disabled:pointer-events-none disabled:opacity-50";
const fontSizeClasses = "2xl:text-base";
const ringClasses = "dark:ring-zinc-200";
---

<!-- Link styled as a button, with dynamic title and URL -->
<a
  class={`${baseClasses} ${borderClasses} ${bgColorClasses} ${disableClasses} ${fontSizeClasses} ${ringClasses}`}
  href={url}
>
  {title}
</a>
